<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Bienvenido!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/styles/initpage.css}" rel="stylesheet">
    </head>
    <body>
        <h1>BIENVENIDO A CONNECT 4</h1>
        <p>Este es un modo de juego de Rey de la colina lo que implica que vas a ingresar a jugar con el rey de la colina y si lo derrocas TU serás en rey de la colina</p>
    </body>
</html>